*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(/Proyecto/img/FondoWebCube.png);
    color: black;
}

a{
    color: black;
    text-decoration: blue;
}

ul{
    list-style: none;
}

/* Navegation top*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:  100px;
    width: 100%;
    padding: 20px;
    background: #0086e6;
}

.nav-Logo{
    width: 160px;
}

.search-box{
    background: white;
    transform: translate(0%,0%);
    border-radius: 40px;
    padding: 5px;
    
}

.search-box:hover >.search-txt{
    height: 20px;
    width: 500px;
}

/*
.search-box input{
    height: 20px;
    width: 500px;
}
*/

.search-txt{
 width: 0;
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: black;
 font-size: 16px;
 transition: 0.4s;
 line-height: 25px;
}

.search-btn{
 color:  black;
 float: right;
}

a.Sing{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font: bold;
    padding: 10px 20px;
    background: tomato;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}

.logout{
    display: flex;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
 
.logout:hover {
     display: flex;
     font-size: 15px;
     cursor: pointer;
     color: black;
}

.IconU{
 font-size: 40px;
 align-items: center;
 border-radius: 60px 60px;
 background: white;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

/* navegador botton*/
.bottom-nav{
   position: absolute;
   width: 100%;
   max-width: 40;
}


.bottom-nav ul{
   background: #47b1fd;
   list-style: none;
   margin: 0;
   padding: 0;
}

.bottom-nav ul li{
 position: relative;
 display: inline-block;
 margin-right: -4px;
 text-align: center;
}

.bottom-nav ul li:last-child{
 margin: 0;
}

.bottom-nav ul li a{
   display: block;
   background: #47b1fd;
   padding: 15px 20px;
   color: white;
   font-size: 14px;
   text-decoration: none;
   transition: 0.2s linear;
}

.bottom-nav ul li a:hover{
  background: #2f80b9;
}

.bottom-nav ul li ul{
    position: absolute;
    top:  100%;
    left: 0;
    width: 240px;
    border-bottom: 4px solid #0095ff;
    }

.bottom-nav ul li ul li{
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
}

.bottom-nav ul li ul li a{
    display: block;
    background: #3a3a3a;
    padding: 10px 15px;
}

.bottom-nav ul li ul li a:hover{
    background: #333;
    border-left: 4px solid #0095ff;
}


/* Container*/

.container{
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
    font-family: "popppins, sans-serif";
    margin: 0 100px;
}

.profile-img{
    float: left;
    width: 340px;
    height: 200px;
}

.profile-img img{
 border-radius: 50%;
 height: 200px;
 width: 200px;
 position: absolute;
 box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
 left: 50px;
 top: 10px;
}

.profile-Header{
  background: rgb(224, 224, 224);
  width: 100%;
  display: flex;
  height: 230px;
  position: relative;
}

.profile-btn{
   position: absolute;
   top: 150px;
   left: 300px;
}

button.cahtbtn{
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: royalblue;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background .3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .2);
  color: black;
}

button.cahtbtn:hover {
   background: white;
}

.profile-info{
float: left;
flex-direction: column;
justify-content: center;
padding-top: 60px;
}

.profile-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-info .address{
  display: flex;
  font-weight: bold;
  color: #777;
}

.Profile-option{
  width: 40px;
  height: 40px;
  background: red;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: rotateY(-50%);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  outline: none;
}

.Profile-option .notification{
   color: white;
   font-size: 1.2rem;
   transition: all .5s ease-in-out;
}

.Profile-option:hover  {
    background: white;
    border: 1px ;
}

.Profile-option:hover .notification i{
    color: black;
}

.Profile-option .Alert_not{
    position: absolute;
    top: -5px;
    right: -5px;
    background: white;
    color: red;
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}

.main-bd{
  width: 100%;
  display: flex;
  padding-right: 15px;
  margin-top: auto;
}

.prodile-side{
  width: 300px;
  background: rgb(224, 224, 224);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
  padding: 90px 30px 20px;
  font-family: serif;
  z-index: 99;
}

.prodile-side p{
 margin-bottom: 7px;
 color: #333;
 font-size: 14px;
}

.prodile-side p i{
 margin-right: 10px;
}

.right-side{
 position: relative;
 width: 100%;
 left: 10px;
} 

.nav-user{
 width: 100%;
 z-index: -1;
}

.nav-user ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 50px;
  background: rgb(224, 224, 224);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
}

.nav-user ul li{
 padding: 10px;
 width: 100%;
 cursor: pointer;
 text-align: center;
 transition: all .2s ease-in-out;
 color: black;
}

.nav-user ul li.active,
.nav-user ul li:hover{
 box-shadow: 0px -3px 0px rgba(152, 193, 255, 0.9) inset;

}

.profile-body{ 
    padding: 20px;
    width: 100%;
    text-align: center;
}

.news-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3{
  font-size: 20px;
  margin:  10px 0;
}

.news-cards a{
    padding: 10px 0;
    color: rgb(253, 115, 115);
    text-transform: uppercase;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline red;
    color: red;
}

/*
.profile-body p{ 
    text-align: justify;
}
*/

/*Footer*/
footer{
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.Row-footer{
    display: flex;
    justify-content: space-between;
}

.Footer-1{
    max-width: 400px;
}

.Footer-1 h1{
    font-size: 22px;
}

.Footer-1 p{
    font-size: 14px;
    margin-top: 15px;
}

.Footer-2{
    max-width: 400px;
}

.Footer-2 h1{
    font-size: 22px;
}

.Socaial-Row{
    margin-top: 20px;
    display: flex;
}

.Socaial-Row a{
    width: 36px;
    height: 36px;
    color: white;
}

.Socaial-Row label{
    margin-left: 5px;
    color: #c7c7c7;
}

.Socaial-Row label:hover{
    color: #47b1fd;
}

.Footer-3{
    max-width: 400px;
}

.Footer-3 h1{
    font-size: 22px;
}

.Contact-Row1{
    margin-top: 20px;
}

.Contact-Row1 a{
  color: white;
  width: 36px;
  height: 36px;
}

.Contact-Row1 label{
    margin-top: 10px;
     margin-left: 20px;
     max-width: 120px;
  }

.container-botfooter{
  max-width: 100%;
  background: #101010;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.Copyright {
 display: flex;
}

.Copyright a{
 text-decoration: none;
 padding-right: 5px;
 color: white;
}

.infoFooter a{
    color: #c7c7c7;
}

.infoFooter a:hover{
    color: #47b1fd;
}