*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(/Proyecto/img/FondoWebCube.png);
    color: black;
}

a{
    color: black;
    text-decoration: blue;
}

ul{
    list-style: none;
}

/* Navegation top*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:  100px;
    width: 100%;
    padding: 20px;
    background: #0086e6;
}

.nav-Logo{
    width: 160px;
}

.search-box{
    background: white;
    transform: translate(0%,0%);
    border-radius: 40px;
    padding: 5px;
    
}

.search-box:hover >.search-txt{
    height: 20px;
    width: 500px;
}

/*
.search-box input{
    height: 20px;
    width: 500px;
}
*/

.search-txt{
 width: 0;
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: black;
 font-size: 16px;
 transition: 0.4s;
 line-height: 25px;
}

.search-btn{
 color:  black;
 float: right;
}

a.Sing{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font: bold;
    padding: 10px 20px;
    background: tomato;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}

.logout{
   display: flex;
   font-size: 15px;
   cursor: pointer;
   color: white;
}

.logout:hover {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.IconU{
 font-size: 40px;
 align-items: center;
 border-radius: 60px 60px;
 background: white;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

/* navegador botton*/
.bottom-nav{
   position: absolute;
   width: 100%;
   max-width: 40;
}


.bottom-nav ul{
   background: #47b1fd;
   list-style: none;
   margin: 0;
   padding: 0;
}

.bottom-nav ul li{
 position: relative;
 display: inline-block;
 margin-right: -4px;
 text-align: center;
}

.bottom-nav ul li:last-child{
 margin: 0;
}

.bottom-nav ul li a{
   display: block;
   background: #47b1fd;
   padding: 15px 20px;
   color: white;
   font-size: 14px;
   text-decoration: none;
   transition: 0.2s linear;
}

.bottom-nav ul li a:hover{
  background: #2f80b9;
}

.bottom-nav ul li ul{
    position: absolute;
    top:  100%;
    left: 0;
    width: 240px;
    border-bottom: 4px solid #0095ff;
    }

.bottom-nav ul li ul li{
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
}

.bottom-nav ul li ul li a{
    display: block;
    background: #3a3a3a;
    padding: 10px 15px;
}

.bottom-nav ul li ul li a:hover{
    background: #333;
    border-left: 4px solid #0095ff;
}


/* Container*/

.container{
 margin-top: 100px;
 margin-bottom: 20px;
 margin-left: 100px;
 margin-right: 100px;
}

.left-side textarea{
 width: 100%;
 height: 90px;
 max-width: 60%;
 min-width: 40%;
 min-height: 60px;
 max-height: 300px;
 padding: 10px;
 font-family: 'Times New Roman', Times, serif;
 line-height: 30px;
 border: 1px solid black;
}

.video textarea{
    width: 150px;
    height: 80px;
    max-width: 150px;
    min-width: 100px;
    min-height: 60px;
    max-height: 80px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    border: 1px solid black;
}

.chkURL{
    margin-left: 5px;
    display: flex;
}

.createart{
 display: flex;
}

.left-side{
    width: 50%;
    position: relative;
    margin-right: 20px;
}

.right-side{
    position: relative;
    width: 50%;
}

.imagenes{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.video{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  display: flex;
}

.wrapper{
    position: relative;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .image img{
 height: 100%;
 width: 100%;
 object-fit: cover;
}


.wrapper .icon{
  position: relative;
  font-size: 50px;
  color: #0086e6;
}

.wrapper #cancel-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    display: none;
}

.wrapper .file-name1,
.wrapper .file-name2,
.wrapper .file-name3{
 position: absolute;
 bottom: 0px;
 width: 100%;
 color: #fff;
 padding: 8px 0;
 font-size: 10px;
 background: #2f80b9;
}

.container #custom-btn1,
.container #custom-btn2,
.container #custom-btn3{
  margin-top: 10px;
  width: 200px;
  height: 50px;
  display: block;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 10px;
  outline: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: #47b1fd;
}

#vid-btn{
    margin-top: 10px;
    margin-left: 10px;
    width: 90px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 10px;
    outline: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: #47b1fd;
}


.container #custom-btn4{
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    display: block;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 10px;
    outline: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: #47b1fd;
}

.wraperVid{
    position: relative;
    width: 560PX;
    height: 315PX;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*Footer*/
footer{
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.Row-footer{
    display: flex;
    justify-content: space-between;
}

.Footer-1{
    max-width: 400px;
}

.Footer-1 h1{
    font-size: 22px;
}

.Footer-1 p{
    font-size: 14px;
    margin-top: 15px;
}

.Footer-2{
    max-width: 400px;
}

.Footer-2 h1{
    font-size: 22px;
}

.Socaial-Row{
    margin-top: 20px;
    display: flex;
}

.Socaial-Row a{
    width: 36px;
    height: 36px;
    color: white;
}

.Socaial-Row label{
    margin-left: 5px;
    color: #c7c7c7;
}

.Socaial-Row label:hover{
    color: #47b1fd;
}

.Footer-3{
    max-width: 400px;
}

.Footer-3 h1{
    font-size: 22px;
}

.Contact-Row1{
    margin-top: 20px;
}

.Contact-Row1 a{
  color: white;
  width: 36px;
  height: 36px;
}

.Contact-Row1 label{
    margin-top: 10px;
     margin-left: 20px;
     max-width: 120px;
  }

.container-botfooter{
  max-width: 100%;
  background: #101010;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.Copyright {
 display: flex;
}

.Copyright a{
 text-decoration: none;
 padding-right: 5px;
 color: white;
}

.infoFooter a{
    color: #c7c7c7;
}

.infoFooter a:hover{
    color: #47b1fd;
}