*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(/Proyecto/img/FondoWebCube.png);
    color: black;
}

a{
    color: black;
    text-decoration: blue;
}

ul{
    list-style: none;
}

/* Navegation top*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:  100px;
    width: 100%;
    padding: 20px;
    background: #0086e6;
}

.nav-Logo{
    width: 160px;
}

.search-box{
    background: white;
    transform: translate(0%,0%);
    border-radius: 40px;
    padding: 5px;
    
}

.search-box:hover >.search-txt{
    height: 20px;
    width: 500px;
}

/*
.search-box input{
    height: 20px;
    width: 500px;
}
*/

.search-txt{
 width: 0;
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: black;
 font-size: 16px;
 transition: 0.4s;
 line-height: 25px;
}

.search-btn{
 color:  black;
 float: right;
}

a.Sing{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font: bold;
    padding: 10px 20px;
    background: tomato;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}

.logout{
    display: flex;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
 
.logout:hover {
     display: flex;
     font-size: 15px;
     cursor: pointer;
     color: black;
}

.IconU{
 font-size: 40px;
 align-items: center;
 border-radius: 60px 60px;
 background: white;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

/* navegador botton*/
.bottom-nav{
   position: absolute;
   width: 100%;
   max-width: 40;
}


.bottom-nav ul{
   background: #47b1fd;
   list-style: none;
   margin: 0;
   padding: 0;
}

.bottom-nav ul li{
 position: relative;
 display: inline-block;
 margin-right: -4px;
 text-align: center;
}

.bottom-nav ul li:last-child{
 margin: 0;
}

.bottom-nav ul li a{
   display: block;
   background: #47b1fd;
   padding: 15px 20px;
   color: white;
   font-size: 14px;
   text-decoration: none;
   transition: 0.2s linear;
}

.bottom-nav ul li a:hover{
  background: #2f80b9;
}

.bottom-nav ul li ul{
    position: absolute;
    top:  100%;
    left: 0;
    width: 240px;
    border-bottom: 4px solid #0095ff;
    }

.bottom-nav ul li ul li{
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
}

.bottom-nav ul li ul li a{
    display: block;
    background: #3a3a3a;
    padding: 10px 15px;
}

.bottom-nav ul li ul li a:hover{
    background: #333;
    border-left: 4px solid #0095ff;
}


/* Container*/
.container{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}
 
.caja-Back{
   width: 100%;
   padding: 10px 20px;
   display: flex;
   justify-content: center;
   background-color: rgba(0, 81, 161, 0.5);
}

.caja-Back div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja-Back div p,
.caja-Back div button{
    margin-top:  25px;
}

.caja-Back div h3{
    font-size: 26px;
    font-weight: 400;
}

.caja-Back button{
   padding: 10px 40px;
   border: 2px solid #fff;
   background: transparent;
   font-size:  14px;
   font-weight: 600;
   cursor: pointer;
   color: white;
   outline: none;
   transform: all 300ms;
}

.caja-Back button:hover{
   background: #fff;
   color: #006fbe;
}

/*Formlarios*/
.container-LogReg{
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 380px;
   position: relative;
   top: -130px;
   left: 10px;

   transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-LogReg form{
    width: 100%;
    padding: 50px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.082);
}

.container-LogReg form h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.container-LogReg form input{
   width: 100%;
   margin-top: 20px;
   padding: 10px;
   border: none;
   background: #f2f2f2;
   font-size: 16px;
   outline: none;
}

.container-LogReg form button{
 padding: 10px 40px;
 margin-top: 40px;
 border: none;
 font-size: 14px;
 background: #46A2FD;
 color: white;
 outline: none;
 cursor: pointer;
}

.Form-log{
    opacity: 1;
    display: block;
}

.Form-Reg{
   display: none;
}

/*Footer*/
footer{
    width: 100%;
    background: #202020;
    color: white; 
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/*Responsive login*/

@media screen and (max-width: 850px){
    .container{
        margin-top: 50px;
    }

    .caja-Back{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja-Back div{
        margin: 0px;
        position: absolute;
    }

    /*formularios*/

    .container-LogReg{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .container-LogReg form{
        position: relative;
    }

}

.Row-footer{
    display: flex;
    justify-content: space-between;
}

.Footer-1{
    max-width: 400px;
}

.Footer-1 h1{
    font-size: 22px;
}

.Footer-1 p{
    font-size: 14px;
    margin-top: 15px;
}

.Footer-2{
    max-width: 400px;
}

.Footer-2 h1{
    font-size: 22px;
}

.Socaial-Row{
    margin-top: 20px;
    display: flex;
}

.Socaial-Row a{
    width: 36px;
    height: 36px;
    color: white;
}

.Socaial-Row label{
    margin-left: 5px;
    color: #c7c7c7;
}

.Socaial-Row label:hover{
    color: #47b1fd;
}

.Footer-3{
    max-width: 400px;
}

.Footer-3 h1{
    font-size: 22px;
}

.Contact-Row1{
    margin-top: 20px;
}

.Contact-Row1 a{
  color: white;
  width: 36px;
  height: 36px;
}

.Contact-Row1 label{
    margin-top: 10px;
     margin-left: 20px;
     max-width: 120px;
  }

.container-botfooter{
  max-width: 100%;
  background: #101010;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.Copyright {
 display: flex;
}

.Copyright a{
 text-decoration: none;
 padding-right: 5px;
 color: white;
}

.infoFooter a{
    color: #c7c7c7;
}

.infoFooter a:hover{
    color: #47b1fd;
}